<ul kendo-panel-bar class="t-side-panel-bgcolor" style="font-size: 14px;"> 
	<li class="k-state-active"> 
		<span class="panel-bar-label-no-wrap">Configuration</span>
		<div class="config-option-single-row" style="margin:10px 20px; font-size: 14px;"> 
			<div class="config-option-ie11-overflow-fix"> 
				<!-- Numeric input -->
				<div class="config-label">Display Digits:</div>
				<input type="number" min="0" max="5" style="width:100px;height:100%;float:right;margin-right:25px;"
					ng-model="config.Decimals">
				
				<!-- Color picker from PV -->
				<div style="width: 85%;margin:10px 15px 20px">
					<pv-color-picker colorkeyword="Background" ng-model="config.BackgroundColor"></pv-color-picker>
				</div>

				<!-- Slider for border radius styling -->
				<div class="config-label">Border Radius:</div>
				<input class="config-option-single-row-input" type="range" min="0" max="20" step="1" 
					style="width: 100px;height: 100%; float: right;margin:25px;"
					title="{{config.BorderRadius}}"
					ng-model="config.BorderRadius">
			</div>
		</div> 
	</li>
</ul>
